extends ../layout

block entrypointVar
	- entrypoint = 'pages/user-register'

block content
	main#main-content.content.content-alt
		.container
			#user-register-container
			noscript
				.row
					.col-lg-8.offset-lg-2.col-xl-6.offset-xl-3
						.card
							.card-body
								.page-header
									h1 #{translate("register")}
								p
									| This page allows BUPT users to register new accounts.
								p
									| #{translate("already_have_sl_account")}
									|
									a(href='/login') #{translate("login_here")}
								p
									| JavaScript is required for registration. If you need help, contact
									|
									strong #{settings.adminEmail}
									|.
